@import './Root.scss';

body {


    .destination {
        background-image: url(../img/destination/background-destination-mobile.jpg);

        .destination-world {
            text-align: center;

            img {
                height: 170px;
                width: 170px;
            }
        }

        .destination-selection{
            ul{
                display: flex;
                justify-content: space-around;
                padding: 10px 25px;

                li{
                    cursor: pointer;
                    font-family: $normalTextVar;
                    text-transform: uppercase;
                }
            }
        }

        .destination-description {
            text-align: center;
        }

        .destination-distance {

            h5,
            h3 {
                text-align: center;
            }
        }
    }

}

@media (min-width: $tablet) {
    .content {
        background-image: url(../img/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: $desktop) {
    .content {
        background-image: url(../img/destination/background-destination-desktop.jpg);
    }
}