@import './Root.scss';

body {
    .home {
        background-image: url(../img/home/background-home-mobile.jpg);
        width: 100%;
        min-height: 100vh;
        padding-top: 90px !important;
        display: flex;
        gap: 50px;

        h5{
            color: $textVar;
            font-family: "Barlow Condensed", serif;

            &.title-page{
                margin-bottom: 1.5rem !important;
            }
        }

        .home-explore {
            position: relative;
            height: 150px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            border-radius: 100%;
            cursor: pointer;
            
            &::before{
                content: "";
                background-color: rgba(255,255,255,0.2);
                border-radius: 100%;
                position: absolute;
                height: 150px;
                width: 150px;
                transition: 500ms ease-in-out;

            }

            &:hover::before{
                height: 200px;
                width: 200px;
            }

            a {
                color: #000;
            }
        }
    }
}

@media (min-width: $tablet) {
    body {
        .home {
            background-image: url(../img/home/background-home-tablet.jpg);
        }
    }
}

@media (min-width: $desktop) {
    body {
        .home {
            background-image: url(../img/home/background-home-desktop.jpg);
        }
    }
}