@import './Root.scss';

body {
    .Main {
        .home {
            background-image: url(../img/home/background-home-mobile.jpg);
            width: 100%;
            min-height: 100vh;
            padding-top: 90px;

            .padding-section {
                padding-inline: 150px;
                gap: 50px;
            }

            h5 {
                color: $textVar;
                font-family: $normalTextVar;

                &.title-page {
                    margin-bottom: 1.5rem;
                }
            }

            .home-explore {
                position: relative;
                height: 150px;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;
                border-radius: 100%;
                cursor: pointer;

                &::before {
                    content: "";
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 100%;
                    position: absolute;
                    height: 150px;
                    width: 150px;
                    transition: 500ms ease-in-out;

                }

                &:hover::before {
                    height: calc(100% + 50%);
                    width: calc(100% + 50%);

                }

                a {
                    color: #000;
                }
            }
        }
    }
}

@media (min-width: $tablet) {
    body {
        .Main {
            .home {
                background-image: url(../img/home/background-home-tablet.jpg);

                .home-explore {
                    height: 242px;
                    width: 242px;
                }
            }

            .padding-section {
                padding-inline: 150px;
            }
        }
    }
}

@media (min-width: $desktop) {
    body {
        .Main {
            .home {
                background-image: url(../img/home/background-home-desktop.jpg);
            }
        }
    }
}