@import './Root.scss';

body {
    padding: 0;
    margin: 0;
    background-color: $backgroundColor;
    font-family: $normalText;
    font-size: $normalP;
    font-weight: 400;
    font-style: normal;
    color: $textWhite;

    b {
        margin-right: 1rem;
    }

    .Main {
        height: 100vh;
        width: 100vw;

        .padding-section {
            padding-inline: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image-section{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .content {
            min-height: 100vh;
            padding-top: 75px;
            padding-bottom: 60px;
            box-sizing: border-box;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            text-align: center;


            .title-page {
                margin-bottom: 2.5rem;

                b {
                    color: $backgroundNav;
                }
            }

            hr {
                border-color: #383B4B;
                margin: 33px 0;
            }

            ul {
                li {
                    list-style: none;
                }
            }
        }
    }

    /*#region Fonts*/
    a {
        text-decoration: none;
        color: $textBlack;
    }


    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
        margin: 0;
        font-family: $destaqueText;
    }

    h1 {
        font-size: $heading1;
    }

    h2 {
        font-size: $heading2;
    }

    h3 {
        font-size: $heading3;
    }

    h4 {
        font-size: $heading4;
    }

    h5 {
        text-transform: uppercase;
        font-weight: inherit;
        margin-bottom: .5rem;
        color: #FFF;
        font-size: $heading5;
    }

    p {
        color: $textVar;
        font-size: $normalP;
        line-height: 25px;
    }

    /*#endregion Fonts*/
}

@media (min-width: $tablet) {
    body {
        .Main {
            .content {
                .title-page {
                    padding-inline: 30px;
                    text-align: initial;
                }
            }
        }

        h1 {
            font-size: $headingTablet1;
        }

        h2 {
            font-size: $headingTablet2;
        }

        h3 {
            font-size: $headingTablet3;
        }

        h4 {
            font-size: $headingTablet4;
        }

        h5 {
            text-transform: uppercase;
            font-weight: inherit;
            margin-bottom: .5rem;
            color: #FFF;
            font-size: $headingTablet5;
        }

        p {
            color: $textVar;
            font-size: $normalPTablet;
            line-height: 28px;

        }
    }
}

@media (min-width: $desktop) {}