@import './Root.scss';

body {
    padding: 0;
    margin: 0;
    background-color: $backgroundColor;
    font-family: $normalText;
    font-size: $normalP;
    font-weight: 400;
    font-style: normal;
    color: $textWhite;

    .Main{
        height: 100vh;
        width: 100vw;
    }

    /*#region Fonts*/
    a {
        text-decoration: none;
        color: $textBlack;
    }


    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
        margin: 0;
        font-family: $destaqueText;
    }

    h1 {
        font-size: $heading1;
    }

    h2 {
        font-size: $heading2;
    }

    h3 {
        font-size: $heading3;
    }

    h4 {
        font-size: $heading4;
    }

    h5 {
        text-transform: uppercase;
        font-weight: inherit;
        color: $textVar;
        font-size: $heading5;
    }

    p {
        color: $textVar;
        font-size: $normalP;
    }

    /*#endregion Fonts*/
}