//mixing configure

$mobile: 320px;
$tablet: 480px;
$desktop: 980px;

//font config
$destaqueText: "Bellefair",
serif;
$normalText: "Barlow",
serif;

//color config
$white: #FFF;
$backgroundNav: rgba(255, 255, 255, 0.04);
$backgroundColor: #0B0D17;
$textWhite: $white;
$textVar: #D0D6F9;

//nav
$navText: 16px;
$navSpace: 2.7px;

//fonte belafair
$heading1: 150px;
$heading2: 100px;
$heading3: 56px;
$heading4: 32px;

//font  Barlow Condensed
$heading5: 28px;
$heading5-space: 4.72px;