//mixing configure

$mobile: 600px;
$tablet: 768px;
$desktop: 1200px;

//font config
$destaqueText: "Bellefair",
serif;
$normalText: "Barlow",
serif;
$normalTextVar: "Barlow condensed",
serif;
//color config
$white: #FFF;

$backgroundNavMobile: rgba(0, 0, 0, 0.8);
$backgroundNav: rgba(255, 255, 255, 0.4);
$backgroundColor: #0B0D17;

$textWhite: $white;
$textBlack: #000;
$textVar: #D0D6F9;

//nav
$navText: 16px;
$navTextMobile: 12px;
$navSpace: 2.7px;

//fonte belafair
$heading1: 80px;
$heading2: 56px;
$heading3: 28px;
$heading4: 24px;

//font  Barlow Condensed
$heading5: 16px;
$heading5-space: 4.72px;

$sHeading1: 28px;
$sHeading2: 14px;
$sHeading2-space: 2.35px;

$normalP: 15px;